{% extends "develop.html" %}
{% block edit_setting %}


      <p>qwdwqdwq</p>
      <div class="col-md-10">
       <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" 
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
             style="width: 50%;">50%
          </div>
       </div>
      </div>
  </div>
</div>

<div class="container-fluid">
   <div class="row-fluid">
    <div class="col-md-10">
      <script src="/static/js/dark-blue.js"></script>
      <script src="/static/js/chart.js"></script>
      <div id="container"></div>
    </div>
   </div>

   <div class="row-fluid">
     <div class="col-md-10">
	<div class="panel panel-success">
         <div class="panel-heading">项目构建历史</div>
<div class="table-responsive">
   <table class="table table-condensed">
      <thead>
         <tr>
            <th>构建者</th>
            <th>日期</th>
            <th>状态</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>陈帅</td>
            <td>2015-10-3 14:47:41</td>
            <td>成功</td>
            <td><img src="/static/image/terminal.png"></td>
         </tr>
         <tr>
            <td>陈帅</td>
            <td>2015-10-3 14:47:41</td>
            <td>成功</td>
            <td><img src="/static/image/terminal.png"></td>
         </tr>
         <tr>
            <td>陈帅</td>
            <td>2015-10-3 14:47:41</td>
            <td>成功</td>
            <td><img src="/static/image/terminal.png"></td>
         </tr>
         <tr>
            <td>陈帅</td>
            <td>2015-10-3 14:47:41</td>
            <td>成功</td>
            <td><img src="/static/image/terminal.png"></td>
         </tr>
      </tbody>
   </table>
</div>  	

	</div>
     </div>

{% end %}
