{% extends "base.html" %}
{% block body %}


<form role="form">
<div class="container">
<div class="row">
	   <h3><div class="col-sm-4 text-right"><span class="label label-info">主机名称</span></div></h3>
            <div class="col-md-4">
		<input type="text" class="form-control input-sm col-sm-8" id="host_label">
            </div>
        </div>
	<p></p>
        <div class="row">
           <h3><div class="col-sm-4 text-right"><span class="label label-success">主机地址</span></div></h3>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm col-sm-8" id="host_ip">
            </div>
        </div>
	<p></p>
        <div class="row">
           <h3><div class="col-sm-4 text-right"><span class="label label-success">远端路劲</span></div></h3>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm col-sm-8" id="host_path" >
            </div>
        </div>
	<p></p>
        <div class="row">
           <h3><div class="col-sm-4 text-right"><span class="label label-success">key路劲</span></div></h3>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm col-sm-8" id="host_key" >
            </div>
        </div>
	<p></p>
        <div class="row">
           <h3><div class="col-sm-4 text-right"><span class="label label-success">主机端口</span></div></h3>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm col-sm-8"  id="host_port">
            </div>
        </div>
	<p></p>
        <div class="row">
           <h3><div class="col-sm-4 text-right"><span class="label label-success">执行时间</span></div></h3>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm col-sm-8" id="host_time">
            </div>
        </div>
	<p></p>
        <div class="row">
            <div class="col-md-8 text-right">
		<div class="btn-group btn-group-lg">
  		    <button type="button" class="btn btn-warning" id="host_test">测试连接</button>
  		    <button type="button" class="btn btn-danger"  id="host_save">保存</button>
 		</div>
            </div>
        </div>
	<p></p>
      </div>
</div>

</form>


{% end %}
